@model IEnumerable<RTSafe.RTDP.Permission.Models.Module>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>
                ModuleId
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="2">
                    <table>
                        @foreach (var o in item.Operations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => o.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => o.Description)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(modelItem => o.hasOperation)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="提交" />
}