@model IEnumerable<RTSafe.RTDP.Permission.Models.UserGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.Label(@Session.SessionID)
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserGroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserGroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserGroupID })
        </td>
    </tr>
}

</table>
