@model RTSafe.RTDP.Permission.Models.Module
@{
    ViewBag.Title = "详情";
}
<h2>
    @ViewBag.Title</h2>
<fieldset>
    <legend>模块</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.ModuleId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModuleId)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ModuleId }) |
    @Html.ActionLink("返回列表", "Index")
</p>
